@charset "UTF-8";

body {
    background-color: rgb(166, 205, 255);
}

h1{ 
    color: blue;
}

h2{ 
    color: rgb(0, 0, 110);
}

h1#principal {
    color: black;
    text-align: center;
    text-shadow: 1px 1px 3px;
    background-color: rgba(0, 0, 0, 0.150);
}

.feio {
    color: aquamarine;
}