@charset "UTF-8";

body {
    font: 1em Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: none;

}

a:visited {
    color: purple;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: yellow;
}

a::after {
    content: ' ◀';
    color: black;
}

a::before {
    content: '▶ ';
    color: black;
}